* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    overflow-y: hidden;
}

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #009ec170;
}

h1 {
    color: #ffffff;
    font-size: 40px;
}

.Principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5.5% 20%;
    background-color: #009EC1;
    height: 516px;
    width: 900px;
    border-radius: 35.56px;
    box-shadow: 4.44px -4.44px 8.89px 0px #0000001A;
    box-shadow: -4.44px 4.44px 8.89px 0px #00000040;
}

.cabecalho {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25%;
    width: 450px;
    height: 516.44px;
}

.button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 35%;
    width: 450px;
    height: 516.44px;
}

.logo {
    width: 220px;
    height: 210px;
}

.button {
    display: block;
    width: 250px;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    margin-top: 1%;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-family: Poppins;
    font-weight: 500;
    color: black;
}

.button:hover {
    color: #ffffff;
    background-color: #009ec170;
}