* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body html {
    height: 100%;
}

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dcdcdc;
}

h1 {
    color: #f0f0f0;
    background-color: #009EC1;
    text-align: left;
    padding: 20px;
}

.textoLogin {
    color: #000000;
    margin-top: 6%;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
}

.container {
   height: 350px;
   width: 300px;
   margin-top: 8%;
   margin-left: 38%;
   background-color: #ffffff;
   border: 1px solid #0000004a;
   border-radius: 20px;
}

.logineng {
    height: 30px;
    width: 180px;
    margin-left: 20%;
    margin-top: 8%;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: small;
    border: 2px solid #000000;
    border-radius: 5px;
}

.senhaeng {
    height: 30px;
    width: 180px;
    margin-left: 20%;
    margin-top: 1%;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: small;
    border: 2px solid #000000;
    border-radius: 5px;
}

.button {
    height: 30px;
    width: 90px;
    margin-left: 34%;
    margin-top: 13%;
    font-family: Poppins, sans-serif;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
}

.button:hover {
    border: 2px solid #009EC1;
    color: #009EC1;
}